body {
    margin: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task {
    border: rgb(45, 27, 212) solid;
    margin: 3px;
    width: 30vw;
}

.complete {
    background-color: rgb(103, 190, 53);
}