<h1>Reminder...</h1>
<div id="new">
    <div>
        <label for="name">Task</label>
        <input type="text" id="name" />
    </div>

    <div>
        <label for="due">Deadline</label>
        <input type="datetime" id="due" value="{{now}}" />
    </div>

    <div>
        <button id="add">Add</button>
    </div>


    <div id="items"></div>